* {
  margin: 0;
  transition: 0.2s;
}

h2 {
  margin: 10px 0 10px 10px;
}

div {
  position: relative;
  cursor: pointer;
}

.a_class {
  width: 100%;
  opacity: 0;
  visibility:inherit;
  transform: translateY(-50%);
  position: absolute;
  /* display: none; */
}

.a_class.active {
  color: white;
  background-color: black;
  opacity: 1;
  visibility: visible;
  /* display: block; */
  transform: none;
  position: relative;
}

button{
  margin-top: 10px;
}